<h1>Add a Product</h1>
<p>Fill out the form below to add a new product</p>
<br>
  <form action="/complete_product_add">
    <p>Product Name</p>
    <input type="text" name="name">
  
    <p>Quantity</p>
    <input type="text" name="quantity">
  
    <p>Description</p>
    <textarea rows="5" cols="50" name="description">
    Please keep the description short, and concise.
    </textarea><br><br>
  
    <p>Serial Number</p>
    <input type="text" name="serial_num" value="ex: 54321">  
    
    <p>Price</p>
    <input type="text" name="cost" value="no dollar sign please">  
  
    <p>Category ID</p>
    <input type="text" name="category_id">
    
    <p>Location ID</p>
    <input type="text" name="location_id">
    
    <br><br>
    <input type="submit" value="Submit">
    
</form>