<h1>Add a Location</h1>
<p>Fill out the form below to add a new location</p>
<br>
  <form action="/complete_location_add">
    <p>Location Name</p>
    <input type="text" name="location_name">
  
    <p>Description</p>
    <textarea rows="5" cols="50" name="description">
    Please keep the description short, and concise.
    </textarea><br><br>
    
    <br><br>
    <input type="submit" value="Submit">
    
</form>