<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8">
    <title><%= @title %></title>
  </head>
  
  <body>
    <div id="page-wrap">
      <%= yield%>
      <br>
      <center><nav><a href="/">Home</a> - 
      <a href="#">About the Company</a> - 
      <a href="#">Other</a></nav></center>
    </div> <!-- end page-wrap-->
  </body>
</html>