<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>Warehouse App</title>
  </head>
  
  <body>
    <center><%= yield%>
    <br>
    <nav><a href="/">Home</a> <a href="facebook.com">About the Company</a> <a href="www.facebook.com">Other</a></nav></center>
  </body>
</html>