<h1>Your mission has been updated</h1>
<h1>The location has been added, k thx bai pls.</h1>

<p>Does this info look correct to you?</p>
<p>Updated Location Name: <%= @nn%></p>
<p>Description: <%= @d%></p>
