<h1>Delete a Product</h1>
<p>Note: Deleting a product is permanent.</p>
<p>Although, you can manually re-add it, if you've screwed up</p>
<br>

<form action="/complete_delete_product">

<p>Serial Number</p>
<input type="text" name="serial_num" value="ex: 54321">  

  <br><br>
  <input type="submit" value="Submit">
</form>