<h1>Warehouse Manager App</h1>
<p>Please select what you'd like to accomplish</p>

<!-- Not sure that I want to use this -->
<!-- <form>
  <select>
    <option name ="nav1" value="add_product">Add a product</option>
    <option name ="nav1" value="update_product">Update a product</option>
    <option name ="nav1" value="delete_product">Delete a product</option>
  </select>

  <input type="submit" value="Submit">
</form> -->

<!-- Updating Product Nav -->
<nav><a href="add_product">Add Product</a> <a href="/update_product">Update Product</a> <a href="/delete_product"> Delete Product</a></nav><br>
<!-- Product Info Nav -->
<nav><a href="/product_info">Product Information</a> <a href="/products_in_category"> Products by Category</a> <a href="/products_in_location">Products by Location</a></nav><br>
<!-- Location Nav -->
<nav><a href="/add_location">Add Location</a> <a href="/update_location">Update Location</a> <a href="/delete_location"> Delete Location</a></nav>