<h1>Warehouse Manager</h1>
<br><br>

<!-- Updating Product Nav -->
<center><nav><a href="add_product">Add Product</a> - <a href="/update_product">Update Product</a> - <a href="/delete_product"> Delete Product</a></nav><br>
<!-- Product Info Nav -->
<nav><a href="/product_info">Product Information</a> - <a href="/products_in_category"> Products by Category</a> - <a href="/products_in_location">Products by Location</a></nav><br>
<!-- Location Nav -->
<nav><a href="/add_location">Add Location</a> - <a href="/update_location">Update Location</a> - <a href="/delete_location"> Delete Location</a></nav></center>