<h1>Warehouse Manager App</h1>
<p>Please select what you'd like to accomplish</p>

<form>
  <select>
    <option name ="nav1" value="add_product">Add a product</option>
    <option name ="nav1" value="update_product">Update a product</option>
    <option name ="nav1" value="delete_product">Delete a product</option>
  </select>  
  
  <input type="submit" value="Submit">
</form>