<h1>Let's find some products!</h1>
<p>Enter the location you'd like you see products in<p>

<form action="/complete_products_in_location">

<p>Location Name</p>
<input type="text" name="location_name">  

<br><br>
  <input type="submit" value="Submit">
</form>