<h1>Let's find some products!</h1>
<p>Enter the category you'd like you see products in<p>

<form action="/complete_products_in_category">

  <p>Category Name</p>
  <input type="text" name="category_name">  

  <br><br>
  <input type="submit" value="Submit">
</form>