<h1>Get Product Info</h1>
<p>Please enter the serial number of the product</p>

<form action="/complete_product_info">

  <p>Serial Number</p>
  <input type="text" name="serial_num" value="ex: 54321">  

  <br><br>
  <input type="submit" value="Submit">
</form>