<h1>Update a Location</h1>
<p>Fill out the form below to add a new product</p>
<br>
<form action="/complete_location_update">
  <p>Location Name that you want to change</p>
  <input type="text" name="location_name">
  
  <p>Change to Location Name</p>
  <input type="text" name="update_location_name">

  <p>Description</p>
  <textarea rows="5" cols="50" name="description">
  Please keep the description short, and concise.
  </textarea><br><br>
  
  <br><br>
  <input type="submit" value="Submit">
</form>